:root {
  --primary: #125B50;
  --secondary: #F8B400;
  --light-text: #FAF5E4;
  --dark-text: #000000;
  --background: #000000;
  --hit-color: #FF6363;
  --miss-color: #ABC9FF;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: var(--light-text);
  background-color: var(--background);
}

ol {
  text-align: left;
}

.instructions {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#game-screen {
  width: 80%;
  padding-top: 2em;
  margin: auto;
  text-align: center;
}

.header {
  padding-top: 3em;
  width: 80%;
  margin: auto;
  text-align: center;
}

.help {
  margin-top: 2em;
  color: var(--light-text);
}

#winner {
  color: var(--secondary);
}

#board-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3em;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 2em);
  grid-template-rows: repeat(10, 2em);
}

.area {
  border: 0;
  min-width: 2em;
  min-height: 2em;
  margin: .1em;
  background-color: var(--light-text);
}

.area-hover:hover {
  background-color: var(--secondary);
}

.ship {
  background-color: var(--primary);
}

.hit {
  background-color: var(--hit-color);
}

.miss {
  background-color: var(--miss-color);
}

.btn {
  background-color: var(--primary);
  color: var(--light-text);
  font-size: 16px;
  font-weight: bold;
  border: 0;
  padding: 1em;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--dark-text);
}

.hidden {
  display: none;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-entry {
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: flex-end;
}

.legend-area {
  min-width: 1em;
  min-height: 1em;
  margin: .1em;
  background-color: var(--light-text);
}

.ship-placement-hover {
  background-color: var(--secondary);
}

@media only screen and (max-width: 860px) {
  #board-wrapper {
    display: flex;
    flex-direction: column;
  }
}